.App {
  text-align: center;
}

.header-actions {
  width: 50%;
  margin: auto;
  display: flex;
}

.App .search-bar {
  margin-right: 5%;
  width: 80%;
}

.App .add-btn {
  margin-top: 10px;
  width: 15%;
  height: 40px;
  min-width: 125px;
}

.App .MuiTableContainer-root {
  width: 50%;
  margin: 25px auto;
  min-width: 400px;
}

.App .MuiTableCell-head {
  font-weight: bold;
}

.completed {
  width: 20%;
}

.name {
  width: 60%;
}

.delete {
  width: 20%;
}

.no-items {
  margin-top: 25px;
}

.modal-container {
  text-align: center;
  border: 2px solid black;
  border-radius: 4px;
  background-color: white;
  width: 40%;
	height: 250px;
	position: absolute;
	top:35%;
	bottom: 65%;
	left: 0;
	right: 0;
	margin: auto;
  min-width: 400px;
}

.modal-container h1 {
  padding: 5px;
}

.modal-container .item-name {
  width: 75%;
}

.modal-container .actions {
  padding-top: 30px;
}

.modal-container .actions button {
  margin: 0 5px;
  width: 25%;
  padding: 10px;
}